/* 
.image{
    background-image: url("C:\Users\91931\Documents\GitHub\esportsv-12\src\images\gaming.jpg");
    height: 100vh;
    width: 100%;
} */
.image{
    background-color: rgb(40, 32, 48);
    height: 100vh;
    width: 100%;
}
.text1{
    color: #6241E7 !important;
    font-style:italic;
    font-weight: 800;
}
.text2{
    color: white !important;
   margin-top: 1rem;
}
body{
    background-color: black !important;
}
.fourth-section{
    background-image: linear-gradient(to right, purple , red);

}
.button123:hover{
    background-color: purple;
    
}
.css-1ps4owl-MuiTypography-root-MuiLink-root{
    color:white !important;
    text-decoration: none !important;

}