a.nav-link.login {
   color: white;
}
button.navbar-toggler {
   font-size: 4rem;
}
ul.dropdown-menu.show.animation {
   font-size: 2rem;
}
.navbar-dark .navbar-nav .nav-link{
   margin: 2rem ;
}

ul.dropdown-menu.show.animation{
   background-color: #262626;
   color: white !important;
}
.dropdown-item{
color: white !important;
}
.dropdown-item:hover{
   color: black !important;
   }
.navbar-dark .navbar-nav .nav-link{
   color:white !important;
}
@media screen and (min-width:700px) {
   img.logo {
      margin: 0em 4rem;
   }
}