.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root{
    font-size: 2rem !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input:invalid{
    font-size: 2rem !important;
}


input{
    font-size: 2rem !important;
}
.css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label{
    font-size: 1.5rem !important;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-fullWidth.css-1vhaqj4-MuiButtonBase-root-MuiButton-root{
    font-size: 2rem !important;
    
}