*{
    font-family: 
    Roboto, Helvetica, Arial, sans-serif;
}

html{
    font-size: 62.5%;
}
@media screen and (max-width:998px) {
    html{
        font-size: 55%;
    }
}
@media screen and (max-width:768px) {
    html{
        font-size: 45%;
    }
}
.css-kz9vhn-MuiGrid-root {
max-width: none !important;
}
