*{
    font-family: 
    Roboto, Helvetica, Arial, sans-serif;
}


@media (max-width: 1400px) {
    html {
      font-size: 10px;
    }
  }
  

  
  @media (max-width: 768px) {
    html {
      font-size: 8px;
    }
  }
  

  
  @media (max-width: 450px) {
    html {
      font-size: 8px;
    }
  }
.css-kz9vhn-MuiGrid-root {
max-width: none !important;
}
